html {
  font-size: 15px;
  background-color: #000;
  font-family: sans-serif;
}

/* @media (max-width: 480px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 760px) {
  html {
    font-size: 8px;
  }
} */

body,html {
  margin: 0;
  padding: 0;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  /* justify-content: center; */
}

.key {
  border: .01rem solid whitesmoke;
  border-radius: .5rem;
  margin: 1rem;
  font-size: .5rem;
  padding: 1rem .5rem;
  width: 10rem;
  text-align: center;
  color: white;
  text-shadow: 0 0 .5rem black;
  transition: all .07s ease;
}

.playing {
  transform: scale(0.9);
  border-color: #0A9AFD;
  box-shadow: 0 0 1rem #0A9AFD;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 0.1rem;
  color: #8CE6DC;
  display: block;
}

.note {
  font-size: 0.01rem;
  letter-spacing: .05rem;
  color: #B0BAD9;
  display: block;
}